$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$yellow:#FEC171;
$blue: #2997FF;
$white: #ffffff;

// 一般字体大小
$normal-font-size: 14px;

// 字体颜色
$font-color: #333333;

// 导航字体颜色
$el-menu-text-color: #303133;
$el-mune-text-font-color: #409eff;
// 导航的背景色
$background-nav: #ecf5ff;

//sidebar
$sideBarWidth: 200px;
$sideBarSubHeight: 34px; //侧边栏行高
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$sideBarBackground: #283745; //侧边栏背景颜色

// main-content
$main-body-background: #f8f8f8;

// element-plus
$--el-border-color: #dcdfe6;
